{{#if version}}
<!-- BUILD VERSION: {{version}} -->
{{/if}}
<!doctype html>
<html ng-app="app">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="translucent-black">
    <meta name="apple-mobile-web-app-title" content="{{content.title}}">
    <link rel="apple-touch-icon" sizes="178x178" href="/assets/favicons/favicon-178x178.png">
    <link rel="shortcut icon" href="/assets/favicons/favicon.ico">
    <title>{{content.title}}</title>
  </head>
  <body ng-controller="appController">
    {{{body}}}
    {{#if development}}
    <script src="http://localhost:{{options.webpackServerPort}}/webpack-dev-server.js"></script>
    <script src="http://localhost:{{options.livereloadPort}}/livereload.js"></script>
    {{/if}}
  </body>
</html>