<h2>admin</h2>

{{#each usr}}
<img src="{{avatarUrl}}" width="40" />
<ur>
<li>login: {{login}}</li>
<li>avatarUrl: {{avatarUrl}}</li>
<li>email: {{email}}</li>
<li>
<p>repos</p>
<ur>
{{#each repos}}
<li>{{.}}</li>
{{/each}}
</ur>
</li>
</ur>
{{/each}}